.title-app {
  height: 9.2rem;
  padding-left: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #CF2B2B;
  color: white;
  
  
}

.title-app h1 {
  font-size: 4.4rem;
  font-weight: 400;
  font-family: 'Righteous';
  letter-spacing: -0.012em;

}

.title-app p {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Roboto';
}

